In [1]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
import numpy as np

In [3]:
import sys
print(sys.executable)

/usr/bin/python3

In [ ]:
import os
os._exit(00)

In [1]:
import numpy
import matplotlib.pyplot as plt
print("Matplotlib and NumPy are working correctly!")

Matplotlib and NumPy are working correctly!

In [2]:
import pandas as pd

In [3]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
df=pd.read_csv('/home/rgukt-basar/Downloads/transactions.csv')

In [6]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
df.info

<bound method DataFrame.info of    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4>

In [10]:
df.describe().loc['mean']

TransactionID    5.500000
UserID           3.444444
ProductID        3.400000
Quantity         2.400000
Name: mean, dtype: float64

In [11]:
df.describe().loc['count']

TransactionID    10.0
UserID            9.0
ProductID        10.0
Quantity         10.0
Name: count, dtype: float64

In [12]:
df.describe().loc['min']

TransactionID    1.0
UserID           1.0
ProductID        2.0
Quantity         1.0
Name: min, dtype: float64

In [13]:
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [1]:
print(df.iloc[1])

NameError: name 'df' is not defined

In [15]:
filtered_df = df[df['UserID'] > 2]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [16]:
df['UserID'].mean()

3.4444444444444446

In [17]:
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [18]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quant              0
dtype: int64

In [19]:
df_sorted = df.sort_values(by=["Quant", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
6              7      2013-12-30     3.0          4      1
4              5      2013-06-06     2.0          4      1
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1

In [20]:
df.rename(columns={"Quant": "Quantity"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [21]:
df_sorted = df.sort_values(by=["Quantity"],
ascending=[True])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1

In [22]:
#Order the rows of transactions by Quantity ascending, TransactionDate descending
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])

# Sort by Quantity (ascending), then by TransactionDate (descending)
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"], ascending=[True, False])

# Display the sorted DataFrame
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [23]:
#Make UserID the first column of transactions
transactions = df[["UserID"] + [col for col in df.columns if col != "UserID"]]

# Display updated DataFrame
print(transactions)

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [24]:
#Extracting arrays from a Data Frame. Get the 2nd column
sec=df.iloc[: ,1]
print(sec)

0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
5   2013-12-23
6   2013-12-30
7   2014-04-24
8   2015-04-24
9   2016-05-08
Name: TransactionDate, dtype: datetime64[ns]

In [25]:
#Extracting arrays from a Data Frame. Get the 2nd column
prd=df['ProductID'].tolist()
print(prd)

[2, 4, 3, 2, 4, 5, 4, 2, 4, 4]

In [26]:
#.Row subsetting, subset rows 1,3 and 6
df_subset = df.iloc[[1, 3, 6]]
print(df_subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [27]:
#subset rows excluding 1,3 and 6
df_subset = df.drop([1, 3, 6], axis=0)
print(df_subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [28]:
#subset the first 3 rows
subset = df.iloc[:3]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [29]:
#subset the last 3 rows
subset = df.iloc[-2:]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [30]:
#subset rows excluding 2 rows
df_subset = df.drop(df.index[-2:], axis=0)
print(df_subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [31]:
df_subset = df.drop(df.index[:3], axis=0)
print(df_subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [32]:
#Subset rows where Quantity>1
sub=df[df['Quantity']>1]

In [33]:
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [34]:
#Subset rows where UserID=2
sub=df[df['UserID']==2]
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [35]:
#Subset rows where Quantity>1
sub=df[(df['Quantity']>1) & (df['UserID']==2)]
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [36]:
#25. Subset rows where Quantity + UserID is >3
df['addo']=df['Quantity']+df['UserID']
sub=df[df['addo']>3]
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity  addo
0              1      2010-08-21     7.0          2         1   8.0
1              2      2011-05-26     3.0          4         1   4.0
2              3      2011-06-16     3.0          3         1   4.0
3              4      2012-08-26     1.0          2         3   4.0
5              6      2013-12-23     2.0          5         6   8.0
6              7      2013-12-30     3.0          4         1   4.0
8              9      2015-04-24     7.0          4         3  10.0
9             10      2016-05-08     3.0          4         4   7.0

In [38]:
# Selects rows where foo is True
sub_foo = df['addo']  
print(sub_foo)

0     8.0
1     4.0
2     4.0
3     4.0
4     3.0
5     8.0
6     4.0
7     NaN
8    10.0
9     7.0
Name: addo, dtype: float64

In [40]:
sub_bar = df[sub_foo > 0]  # Selects rows where bar values are positive
print(sub_bar)

   TransactionID TransactionDate  UserID  ProductID  Quantity  addo
0              1      2010-08-21     7.0          2         1   8.0
1              2      2011-05-26     3.0          4         1   4.0
2              3      2011-06-16     3.0          3         1   4.0
3              4      2012-08-26     1.0          2         3   4.0
4              5      2013-06-06     2.0          4         1   3.0
5              6      2013-12-23     2.0          5         6   8.0
6              7      2013-12-30     3.0          4         1   4.0
8              9      2015-04-24     7.0          4         3  10.0
9             10      2016-05-08     3.0          4         4   7.0

In [43]:
#28.Subset rows where foo is TRUE or bar is negative
sub_1 = df[('addo' == True) | (sub_foo < 0)]  # Selects rows where foo is True OR bar is negative
print(sub_1)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity, addo]
Index: []

In [44]:
#29. Subset the rows where foo is not TRUE and bar is not negative
sub_1 = df[('addo' != True) | (sub_foo < 0)]  # Selects rows where foo is True OR bar is negative
print(sub_1)

   TransactionID TransactionDate  UserID  ProductID  Quantity  addo
0              1      2010-08-21     7.0          2         1   8.0
1              2      2011-05-26     3.0          4         1   4.0
2              3      2011-06-16     3.0          3         1   4.0
3              4      2012-08-26     1.0          2         3   4.0
4              5      2013-06-06     2.0          4         1   3.0
5              6      2013-12-23     2.0          5         6   8.0
6              7      2013-12-30     3.0          4         1   4.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  10.0
9             10      2016-05-08     3.0          4         4   7.0

In [45]:
#31. Subset by columns TransactionID and TransactionDate
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [47]:
#30.
sub = df.iloc[:, [1, 3]]  # Selects 2nd and 4th columns (0-based index)
print(sub)

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [48]:
#32.
sub = df.loc[:, (df.columns == "TransactionID") | (df.columns == "TransactionDate")]
print(sub)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [50]:
#33.
selected_cols = ["TransactionID", "TransactionDate"]
sub = df[selected_cols]
print(sub)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [54]:
#34.Subset columns excluding a variable list of column names
sub=df.drop(columns=["TransactionID", "TransactionDate"])
print(sub)

   UserID  ProductID  Quantity  addo
0     7.0          2         1   8.0
1     3.0          4         1   4.0
2     3.0          3         1   4.0
3     1.0          2         3   4.0
4     2.0          4         1   3.0
5     2.0          5         6   8.0
6     3.0          4         1   4.0
7     NaN          2         3   NaN
8     7.0          4         3  10.0
9     3.0          4         4   7.0

In [55]:
#35
df["New"] = "Value"  # Adds a column with a default value

In [61]:
df.loc[df["Quantity"] > 0, "New"] = "High"  # Updates based on a condition
df

,TransactionID,TransactionDate,UserID,ProductID,Quantity,addo,NewColumn,New
0,1,2010-08-21,7.0,2,1,8.0,DefaultValue,High
1,2,2011-05-26,3.0,4,1,4.0,DefaultValue,High
2,3,2011-06-16,3.0,3,1,4.0,DefaultValue,High
3,4,2012-08-26,1.0,2,3,4.0,DefaultValue,High
4,5,2013-06-06,2.0,4,1,3.0,DefaultValue,High
5,6,2013-12-23,2.0,5,6,8.0,High,High
6,7,2013-12-30,3.0,4,1,4.0,DefaultValue,High
7,8,2014-04-24,NaN,2,3,NaN,DefaultValue,High
8,9,2015-04-24,7.0,4,3,10.0,DefaultValue,High
9,10,2016-05-08,3.0,4,4,7.0,DefaultValue,High

In [62]:
#36.
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])
print(df.dtypes)  # Verify the column type

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
addo                      float64
NewColumn                  object
New                        object
dtype: object

In [63]:
df

,TransactionID,TransactionDate,UserID,ProductID,Quantity,addo,NewColumn,New
0,1,2010-08-21,7.0,2,1,8.0,DefaultValue,High
1,2,2011-05-26,3.0,4,1,4.0,DefaultValue,High
2,3,2011-06-16,3.0,3,1,4.0,DefaultValue,High
3,4,2012-08-26,1.0,2,3,4.0,DefaultValue,High
4,5,2013-06-06,2.0,4,1,3.0,DefaultValue,High
5,6,2013-12-23,2.0,5,6,8.0,High,High
6,7,2013-12-30,3.0,4,1,4.0,DefaultValue,High
7,8,2014-04-24,NaN,2,3,NaN,DefaultValue,High
8,9,2015-04-24,7.0,4,3,10.0,DefaultValue,High
9,10,2016-05-08,3.0,4,4,7.0,DefaultValue,High

In [64]:
#37.
df['foo']=df['UserID']+df['ProductID']

In [65]:
df

,TransactionID,TransactionDate,UserID,ProductID,Quantity,addo,NewColumn,New,foo
0,1,2010-08-21,7.0,2,1,8.0,DefaultValue,High,9.0
1,2,2011-05-26,3.0,4,1,4.0,DefaultValue,High,7.0
2,3,2011-06-16,3.0,3,1,4.0,DefaultValue,High,6.0
3,4,2012-08-26,1.0,2,3,4.0,DefaultValue,High,3.0
4,5,2013-06-06,2.0,4,1,3.0,DefaultValue,High,6.0
5,6,2013-12-23,2.0,5,6,8.0,High,High,7.0
6,7,2013-12-30,3.0,4,1,4.0,DefaultValue,High,7.0
7,8,2014-04-24,NaN,2,3,NaN,DefaultValue,High,NaN
8,9,2015-04-24,7.0,4,3,10.0,DefaultValue,High,11.0
9,10,2016-05-08,3.0,4,4,7.0,DefaultValue,High,7.0