In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/rgukt-basar/MachineLearning/Car_sales.csv")
print(df.head())

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [23]:
#df=pd.read_csv("/home/rgukt-basar/Downloads/Car_sales.csv")
#1. Read top five values
print(df.head(5))

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Engine size Horsepower Wheelbase Width Length Curb weight  \
0    Passenger         1.8        140     101.2  67.3  172.4       2.639
1    Passenger         3.2        225     108.1  70.3  192.9       3.517
2    Passenger         3.2        225     106.9  70.6    192        3.47
3    Passenger         3.5        210     114.6  71.4  196.6        3.85
4    Passenger         1.8        150     102.6  68.2    178       2.998

  Fuel capacity Fuel efficiency Latest Launch  Price in thousands
0          13.2              28      2-Feb-14               21.50
1          17.2              25      6-Mar-15               28.40
2          17.2              26      1-Apr-14               27.39
3            18              22      3-Oct-15               42.00
4          16.4              27     10-Aug-15               23.99

In [24]:
#2. Print dataframe info_data types of each column
print("data frame info")
print(df.info())
#df.info()

data frame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Engine size          156 non-null    object
 6   Horsepower           157 non-null    object
 7   Wheelbase            157 non-null    object
 8   Width                157 non-null    object
 9   Length               157 non-null    object
 10  Curb weight          157 non-null    object
 11  Fuel capacity        157 non-null    object
 12  Fuel efficiency      157 non-null    object
 13  Latest Launch        157 non-null    object
 14  Price in thousands   157 non-null    float64
dtypes: float64(2), object(13)
memory usage: 18.5+ KB
None

In [25]:
#3. Print number of rows and columns
print("number of rows and columns")
print(df.shape)

number of rows and columns
(157, 15)

In [26]:
num_row,num_clmn=df.shape
print("number of rows",num_row)
print("number of colmn",num_clmn)

number of rows 157
number of colmn 15

In [27]:
#4. Drop duplicate rows_if any
cleaned=df.drop_duplicates()
print("number of rows before",df.shape[0])
print("number of rows after removing the duplicates",cleaned.shape[0])

number of rows before 157
number of rows after removing the duplicates 157

In [28]:
#5. Print number of rows and columns after dropping
cleaned=df.drop_duplicates()
print("number of rows after removing the duplicates",cleaned.shape[0])
print("number of columns after removing the duplicates",cleaned.shape[1])

number of rows after removing the duplicates 157
number of columns after removing the duplicates 15

In [29]:
#6. Print summary statistics for numerical variables
print("summary of statistical data of varibles")
df.describe()
df

summary of statistical data of varibles

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch,Price in thousands
0,Acura,Integra,16.919,16.36,Passenger,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14,21.50
1,Acura,TL,39.384,19.875,Passenger,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15,28.40
2,Acura,CL,14.114,18.225,Passenger,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14,27.39
3,Acura,RL,8.588,29.725,Passenger,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15,42.00
4,Audi,A4,20.397,22.255,Passenger,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,.,Passenger,1.9,160,100.5,67.6,176.6,3.042,15.8,25,21-Sep-15,24.40
153,Volvo,S70,15.245,.,Passenger,2.4,168,104.9,69.3,185.9,3.208,17.9,25,24-Nov-14,27.50
154,Volvo,V70,17.531,.,Passenger,2.4,168,104.9,69.3,186.2,3.259,17.9,25,25-Jun-15,28.80
155,Volvo,C70,3.493,.,Passenger,2.3,236,104.9,71.5,185.7,3.601,18.5,23,26-Apr-15,45.50
156,Volvo,S80,18.969,.,Passenger,2.9,201,109.9,72.1,189.8,3.6,21.1,24,14-Nov-15,36.00

In [12]:
#7. Print number of missing values in each column
print("Number of missing values in each column:")
print(df.isnull().sum())

Number of missing values in each column:
Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     2
Engine size            1
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [13]:
#df = pd.read_csv("car_sales.csv")
# Check missing values before imputation
print("Missing values before:\n", df.isnull().sum())
df["Sales in thousands"] = df["Sales in thousands"].fillna(df["Sales in thousands"].mean())
print("Missing values after:\n", df.isnull().sum())
print(df.head())

Missing values before:
 Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     2
Engine size            1
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64
Missing values after:
 Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     2
Engine size            1
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64
    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                NaN         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [16]:
num=df.drop(columns=['Price in thousands'])
print(num)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Engine size Horsepower Wheelbase Width Length Curb weight  \
0      Passenger         1.8        140     101.2  67.3  172.4       2.639
1      Passenger         3.2        225     108.1  70.3  192.9       3.517
2      Passenger         3.2        225     106.9  70.6    192        3.47
3      Passenger         3.5        210     114.6  71.4  196.6        3.85
4      Passenger         1.8        150     102.6  68.2    178       2.998
..           ...         ...        ...       ...   ...    ...         ...
152    Passenger         1.9        160     100.5  67.6  176.6       3.042
153    Passenger         2.4        168     104.9  69.3  185.9       3.208
154    Passenger         2.4        168     104.9  69.3  186.2       3.259
155    Passenger         2.3        236     104.9  71.5  185.7       3.601
156    Passenger         2.9        201     109.9  72.1  189.8         3.6

    Fuel capacity Fuel efficiency Latest Launch
0            13.2              28      2-Feb-14
1            17.2              25      6-Mar-15
2            17.2              26      1-Apr-14
3              18              22      3-Oct-15
4            16.4              27     10-Aug-15
..            ...             ...           ...
152          15.8              25     21-Sep-15
153          17.9              25     24-Nov-14
154          17.9              25     25-Jun-15
155          18.5              23     26-Apr-15
156          21.1              24     14-Nov-15

[157 rows x 14 columns]

In [31]:
# 8. Drop the column with most missing values
df.drop(columns=[df.isnull().sum().idxmax()], inplace=True)

In [33]:
# 9. Drop rows with categorical missing values
df.dropna(subset=df.select_dtypes(include=['object']).columns, inplace=True)

In [35]:
# 10. Impute rows with numerical missing values using median
df.isnull().sum()

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
Price in thousands     0
dtype: int64

In [38]:
# 11. Sort data by price
df_sorted = df.sort_values(by='Price in thousands', ascending=False)
print(df_sorted)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
99   Mercedes-Benz  CL500                           0.954                   .
95   Mercedes-Benz  SL-Class                        3.311                58.6
126  Porsche        Carrera Cabriolet               1.866               67.55
125  Porsche        Carrera Coupe                   1.280              60.625
39   Dodge          Viper                           0.916               58.47
..             ...                ...                 ...                 ...
63   Hyundai        Elantra                        66.692               7.825
140  Toyota         Tacoma                         84.087               9.575
129  Saturn         SL                             80.620                 9.2
62   Hyundai        Accent                         41.184                5.86
26   Chevrolet      Metro                          21.855                5.16

    Vehicle type Horsepower Wheelbase Width Length Curb weight Fuel capacity  \
99     Passenger        302     113.6  73.1  196.6       4.115          23.2
95     Passenger        302        99  71.3  177.1       4.125          21.1
126    Passenger        300      92.6  69.5  174.5       3.075            17
125    Passenger        300      92.6  69.5  174.5       3.032            17
39     Passenger        450      96.2  75.7  176.7       3.375            19
..           ...        ...       ...   ...    ...         ...           ...
63     Passenger        140     100.4  66.9    174       2.626          14.5
140          Car        142     103.3  66.5  178.7        2.58          15.1
129    Passenger        100     102.4  66.4  176.9       2.332          12.1
62     Passenger         92      96.1  65.7  166.7        2.24          11.9
26     Passenger         55      93.1  62.6  149.4       1.895          10.3

    Fuel efficiency Latest Launch  Price in thousands
99               20      4-Nov-15               85.50
95               20     17-Mar-15               82.60
126              23      7-Nov-15               74.97
125              21     21-Dec-14               71.02
39               16      8-Jul-15               69.73
..              ...           ...                 ...
63               27     15-Nov-15               11.80
140              23      8-Jan-15               11.53
129              33     16-Aug-14               10.69
62               31      9-Oct-14                9.70
26               45     13-Apr-14                9.24

[157 rows x 14 columns]

In [39]:
# 12. Function to find min and max values of any column
def find_min_max(column):
    return df[''].min(), df[column].max()

# 13. Call function for Horsepower, Length, Fuel Efficiency
print("Horsepower Min/Max:", find_min_max("Horsepower"))
print("Length Min/Max:", find_min_max("Length"))
print("Fuel Efficiency Min/Max:", find_min_max("FuelEfficiency"))

Horsepower Min/Max: ('.', '92')
Length Min/Max: ('.', '224.5')

KeyError: 'FuelEfficiency'